
;; ----------------------------------------------------------------
;; Part.1 The Profile 

:profiles {:Default {
    ;; "default true means" rules default goes into this rule if no profiles specified
    :default true
    ;; simultaneous key press threshold
    ;; simlayer is implemented with to_if_alone and simultaneous key press feature
    :sim     250
    ;; to_delayed_action_delay_milliseconds
    ;; checkout karabiner's documentation
    ;; https://pqrs.org/osx/karabiner/json.html
    ;; basically it means time after which the key press is count delayed
    :delay   500
    ;; https://pqrs.org/osx/karabiner/json.html#to-if-alone
    ;; to_if_alone_timeout_milliseconds
    ;; affects to_if_alone behavior
    ;; simlayer is implemented with to_if_alone and simultaneous key press feature
    :alone   1000
    ;; to_if_held_down_threshold_milliseconds
    ;; check the doc, I don't know what does this mean.
    ;; maybe press this many milliseconds counts a "held" ?
    :held    500
}} ;; profiles